<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>Bonjour juste un say hello a {{nom|capitalize}}</p>
    <img src="{{ asset('./assets/images/') ~ path | defaultImage}}" alt="" width=200 />
</body>

</html>