{% extends 'template.html.twig' %}

{% block title %}Stats{% endblock %}

{% block body %}
{{ form_start(varform, {'attr': {'novalidate': 'novalidate'}}) }}
<div class="row">
    <div class="col">{{ form_row(varform.firstname)}}</div>
    <div class="col">{{ form_row(varform.name)}}</div>
</div>
{{ form_rest(varform) }}
{% endblock %}