{% extends 'template.html.twig'%}

{% block title %}
{% endblock %}

{% block body %}
{{ dump(personne) }}
<div class="alert alert-success">
    {{ personne.firstname }} {{ personne.name }} a {{ personne.age }}
</div>
{% endblock %}