{% extends 'template.html.twig'%}
{% block title %}
Tab todos
{% endblock %}
{% block pageTitle%}
Page todos
{% endblock %}

{% block body %}
<h1>Liste des todos : </h1>
<ol class="list-group">
    {% for name,content in app.session.get('todos') %}
    <li class="list-group-item">
        {{name}} : {{content}}
    </li>
    {% endfor %}
</ol>
{% endblock %}